!!! 5
%html
 = Haml::Engine.new(File.read('../head.haml')).render
 %h2
  Faça o download das partituras, com seus respectivos áudios:

 - Dir.glob("partituras/data/*.pdf").sort.each do |pdf|
  %p.music-data
   - fname = File.basename(pdf,File.extname(pdf))
   #{fname}
   %br
    %a{href: "data/#{fname}.pdf", target: "_blank"}
     pdf
    %a{href: "data/#{fname}.ogg", target: "_blank"}
     ogg
    %a{href: "data/#{fname}.midi"}
     midi

 = Haml::Engine.new(File.read('../footer.haml')).render
